@charset "utf-8";
/* CSS Document */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('../assets/zebra1.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.row li {
    text-indent: 20px;
}

.row a {
	margin-top: 15px;
}

.mt-4, .my-4 {
    margin-top: 2rem!important;
}

.blog {
	margin-top: 2%;
}